.main-product {
    padding: 10px;
    border: 1px solid transparent;
    box-shadow: 0 0 7px 0 #777;
}

.main-product:hover {
    /*border-color: #8a6d3b;*/
    background-color: #fff;
    box-shadow: 0 0 7px 2px #777;
    cursor: pointer;
}

.chanel-short-info {
    padding: 5px;
    font-size: 12px;
}

.chanel-image {
    width: auto;
    height: 300px;
    position: relative;
    /*box-shadow: 5px 5px 10px #777;*/
    /*background-color: #f5f5f5;*/
}

.chanel-image:hover {
    cursor: pointer;
}

.chanel-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
}

.checked {
    color: orange;
}

.bold-label {
    /*font-weight: bold;*/
}

.bold-value {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}
